body {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #00cdac, #02aab0);
  background: -moz-linear-gradient(left, #00cdac, #02aab0);
  background: -o-linear-gradient(left, #00cdac, #02aab0);
  background: linear-gradient(to right, #00cdac, #02aab0);
}
